<%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/nav.ejs') %>

    <div class="about content">
       <h2>About Us</h2>
       <p>Lorem ipsum dolor,sit amet consectetur adipisicing elit.Quia quibusdam quaerat illoamodi</p>
       <p>Lorem ipsum dolor,sit amet consectetur adipisicing elit.Quia quibusdam quaerat illoamodi</p>
       <p>Lorem ipsum dolor,sit amet consectetur adipisicing elit.Quia quibusdam quaerat illoamodi</p>
    </div>
  </body>
  <%- include ('./partials/footer.ejs') %>
